.route {
    fill: none;
}

.route__line {
    fill: #fff;
}

.route__letters {
    fill: #fff;
}

.route__circles {
    fill: #fff;
}

.route__point-1 {
    fill: #131313;
}

.route__point-2 {
    fill: #272722;
}

.route__point-3 {
    fill: #4D5648;
}

.route__point-4 {
    fill: #47443E;
}

.route__point-5 {
    fill: #93A47C;
}

.route__point-6 {
    fill: #738F8C;
}

.route__point-7 {
    fill: #789186;
}

.route__point-8 {
    fill: #8CBABB;
}

.route__point-9 {
    fill: #414847;
}

.route__point-10 {
    fill: #577379;
}

.route__point-11 {
    fill: #3E403A;
}

.route__point-12 {
    fill: #181A19;
}
