.cover__overlay {
  width: 100%;
  min-height: 640px;
  aspect-ratio: 8/5;

  background-image: url(../../../images/cover__trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  text-decoration: none;
  color: #fff;
  cursor: pointer;

  position: relative;
}

.cover__overlay::before {
  content: '';
  width: 100%;
  height: 100%;

  background-color: #2A2C2F;
  opacity: 0.3;
  transition: 600ms;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 435px;
  }
}

@media screen and (max-width: 695px) {
  .cover__overlay {
    min-height: 266px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    min-height: 200px;
  }
}
