.cover__overlay {
  width: 100%;
  height: 100%;

  background-color: #2A2C2F30;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  text-decoration: none;
  color: #fff;
  cursor: url(../../../images/pointer.png) 7 2, pointer;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
 }

 .cover__overlay:hover {
  background-color: #2A2C2F80;
  transition: 600ms;
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    gap: 42px;
  }
}

@media screen and (max-width: 695px) {
  .cover__overlay {
    gap: 16px;
  }
}
