.intro {
  grid-area: intro;
  justify-self: start;

  width: 690px;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .intro {
    width: 70%;
    min-width: 690px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 100%;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    min-width: 100%;
  }
}
